<div class="main_logo container-fluid" style="background-color:#fff;"></div>

<div class = "jumbotron22 center">

    <h1> Welcome! </h1>

    <p><%= link_to 'About SPEECHY', about_path %></p>

    <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-md btn-primary", id: "sign_up_button" %>

    <%= link_to "Guest Login", sign_in_guest_path, class: "btn btn-md btn-primary", id: "sign_up_button", "data-no-turbolink" => true %>

</div>

<script type="text/javascript">
    var wid = $('.main_logo').width();
    d3DrawWordCloud(wid, '.main_logo');
</script>
