<div class = "jumbotron center">

    <h1> Welcome! </h1>

    <h3> This is a place where SLP and SW professionals can share their knowledge <br /> and work materials.
        <br /> <br />
        This is where you will make the world better.
    </h3>

    <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-lg btn-primary", id: "sign_up_button" %>

</div>

