<% provide(:title, "Speechy") %>
<h2><span class="wrapper">Speechy</span></h2>
<div class='row'>
    <div class ="col-sm-8 col-sm-offset-2">
        <p>This is a Data Sharing and Data Management tool for Speech Language Pathologists (SLPs) and
            anyone working with children who experience difficulty recognizing human emotions.
        </p>
        <p>
            <p class="center"><span><b>Usage</b></span></p>

            <p> <b>To create a collection of images: </b></p>
            <ul>
                <li> Upload images representing human emotions. You can make them private (no one else can use them)
                     or public (other users will see them).</li>
                <li> Tag each image with appropriate emotions. For example, "happy, cheerful, content". </li>
            </ul>
            <p> <b>To create a list of students:</b> </p>
            <ul>
                <li> Create a subaccount for each of your students.</li>
            </ul>

            <p> <b>To begin a teaching session: </b></p>
            <ul>
                <li> Select desired emotions for each student via a dropdown menu.</li>
                <li> Navigate to the student's page and show the selected images to him/her. Ask the student to write in a special form what emotion a given image represents.</li>
            </ul>
            <p> <b>To analyze data: </b></p>
            <ul>
                <li> Export student's data as a CSV or Excel file. </li>
                <li> Visualize student's progress in a graph. </li>
            </ul>

        </p>
    </div>
</div>

