<% provide(:title, "Contact") %>
<h2>Contact</h2>
<div class='row' >
    <div class ="col-sm-8 col-sm-offset-2">
        <div class="jumbotron center other-color">
            <div class="wrapper">
                <p>Under construction. </p>
                    <br />
                <p>We haven't decided yet if we want to talk to anyone.</p>
            </div>
        </div>
    </div>
</div>
