<% provide(:title, "Help") %>
<h2>Help</h2>
<div class='row'>
    <div class ="col-sm-8 col-sm-offset-2">
        <div class="jumbotron center other-color">
            <div class="wrapper">
                <p>Under construction. </p>
                <br />
                <p>Hang out here. Help is coming (maybe even soon).</p>
            </div>
        </div>
    </div>
</div>
