<div class="modal-body" style="color:red" >
    You are not authorized. Please register first.
</div>
<div class="modal-footer">
    <div class="row text-center">
        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
    </div>
</div>
