<div id="tag_cloud">
  <% tag_cloud Content.tag_counts, %w{s m l} do |tag, css_class| %>
        <%#= link_to tag.tagname, tag_path(tag.tagname), class: css_class %>
        <%#= link_to tag.tagname, {:controller => "contents", :action => "summary", :tag => tag.tagname}, class: css_class %>
        <%= link_to tag.tagname, summary_path(:tagname => tag.tagname), class: css_class %>

  <% end %>
</div>
</br>

<table id ="contents" >
    <thead><tr></tr></thead>
    <tbody class="page">
        <tr class="content">
            <% @contents.each do |f| %>
                <td style="padding-right:10px; padding-bottom:10px">  <%= image_tag f.image.url(:small) %> </td>
            <% end %>
        </tr>
        <%#= render @contents %>
    </tbody>

</table>

<%= paginate @contents %>
