<div id="tag_cloud">
  <% tag_cloud Content.tag_counts, %w{s m l} do |tag, css_class| %>
        <%#= link_to tag.tagname, tag_path(tag.tagname), class: css_class %>
        <%#= link_to tag.tagname, {:controller => "contents", :action => "summary", :tag => tag.tagname}, class: css_class %>
        <%= link_to tag.tagname, summary_path(:tagname => tag.tagname), class: css_class %>

  <% end %>
</div>
</br>

<div id="contents">
    <div class = "masonry-container">
        <% @contents.each do |content| %>
            <div class = "masonry-item" >
                <% if not content.image.exists?(:original) %>
                    <%#= 'Whoops' %>
                    <% content.destroy %>
                <% else %>
                    <%= image_tag content.image.url(:original) %>
                <% end %>
            </div>
        <% end %>
    </div>
</div>


</br>
</br>


<%= paginate @contents %>


