<div class="container">
    <div class="row">
        <div class="col-md-10 scrollit">
            <div id="contents">
                <div class = "masonry-container">
                    <% @contents.each do |content| %>
                        <% if content.image.exists?(:original) %>
                            <div class = "masonry-item" >
                                <%= image_tag content.image.url(:original) %>
                            </div>
                        <% else %>
                            <% content.destroy! %>
                        <% end %>
                    <% end %>
                </div>
            </div>
            </br>
            </br>
            </br>
        </div>
        <!-- <div class="tags_in_place"> -->
        <div class="col-md-2 fixed">
            <!-- <div class="tags_in_place"> -->
                <h4> Tagged emotions </h4>
                </br>
                    <div id="tag_cloud">
                      <% tag_cloud Content.tag_counts(current_user.id), %w{s m l} do |tag, css_class| %>
                            <%#= link_to tag.tagname, summary_path(:tagname => tag.tagname), class: css_class %>
                            <%= link_to tag.tagname, tag_path(tag.tagname), class: css_class %>
                      <% end %>
                    </div>
                </div>
        <!-- </div> -->
    </div>
</div>

<%= paginate @contents %>


