<!-- <h2> Stuff </h2> -->
<!-- <table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Is public</th>
      <th>Dblink</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <#% @contents.each do |content| %>
      <tr>
        <td><%#= content.ctype %></td>
        <td><%#= content.is_public %></td>
        <td><%#= image_tag content.image.url(:small) %></td>
        <td><img src='<%#= content.dblink %>'></td>
        <td><%#= content.user_id %></td>
        <td><%#= link_to 'Show', content %></td>
            <#% if user_signed_in? %>
                <#% if current_user.id == content.user_id %>

                    <td><%#= link_to 'Edit', edit_content_path(content) %></td>
                    <td><%#= link_to 'Destroy', content, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                <#% end %>
            <#% end %>
      </tr>
    <#% end %>
  </tbody>
</table> -->


<!-- <div class="container"
<div id="myCarousel" class="carousel">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
   Carousel items
  <div class="carousel-inner">
  <div class="active item"><img src='https://dev.twitter.com/sites/default/files/images_platform_object/arctic-blue-bird.jpg?1334604325'></div>
  <div class="item"><img src='https://dev.twitter.com/sites/default/files/images_platform_object/missouri_meadow_lark.jpg?1334604578'></div>
  <div class="item"><img src='https://dev.twitter.com/sites/default/files/images_platform_object/yellow_flycatcher.jpg?1334605975'></div>
</div>
  <!-- Carousel nav -->
  <!-- <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>

</div> -->


<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide" >
    <div class="carousel-inner" >
        <% @contents.each_with_index do |content, index| %>
                <div class="item <% if index == 0 %> active <% end %> ">

                    <!-- <div class="container container-caption"> not needed -->
                            <!-- <div class="carousel-caption" > -->
                            <!-- <div class="inner-item"> -->
                                <%= image_tag content.image.url(:thumb) %>
                            <!-- </div> -->
                    <!-- </div> -->
                </div>
        <% end %>

    </div>

    <a class="left carousel-control" href="#myCarousel" data-slide="prev" data-interval="false">
        <%= image_tag 'carousel-arrow-left-hover.png', :class => "chevron chevron-left" %>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next" data-interval="false">
        <%= image_tag 'carousel-arrow-right-hover.png', :class => "chevron chevron-right" %>
        <!-- <img class="chevron chevron-right" src="http://www.lutheranworld.org/sites/all/themes/custom/lwf/images/carousel-arrow-right-hover.png" /> -->
    </a>

</div><!-- /.carousel -->



