<h3> Selecting emotions </h3>
<% tag_selection Content.select_tags(current_user.id) do |tag| %>
    <li>
        <%= form_for(tag, remote: true) do |f| %>
            <%= f.check_box :selected, class: 'submittable' %>
            <%= tag.tagname %>
        <% end %>
    </li>
<% end %>
<br/>
<a href='' class="btn btn-primary btn-xs btn-style submitme">Select </a>
