<h3> Selecting emotions </h3>
<% tag_selection Content.select_tags(current_user.id) do |tag| %>
    <li>
        <%= check_box_tag "tag_ids[]", tag.id, false, class: 'submittable' %>
        <%= tag.tagname %>
    </li>
<% end %>
<br/>
<%= link_to "Select", show_selected_path(@student), remote: true, class: "btn btn-primary btn-xs btn-style submitme" %>

