
<p><%= student.name %> &nbsp;|</p>
<!-- <td> &nbsp; <%#= link_to 'Show', student %></td>
<td> &nbsp; <%#= link_to 'Edit', edit_student_path(student) %></td>
<td> &nbsp; <%#= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
