<div id="tabs">
    <ul>
        <li><a href="#tabs-1" class="remove_me">Students:</a></li>
        <li><%= link_to "Add a student", new_student_path, :remote => true, :class => "remove_me" %></li>
    </ul>
    <div id="tabs-2"></div>
    <div id="tabs-1">
        <div class = "js-students">
            <table>
                <thead>
                    <tr>
                      <th>Name</th>
                      <th colspan="3"></th>
                    </tr>
                </thead>
                <tbody>
                    <% if !@students.nil? %>
                        <%= render @students %>
                    <% end %>
                </body>
            </table>

        </div>
    </div>
</div>
