<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>
<p><%= link_to 'Back', :back,  "data-no-turbolink" => true %></p>

<% if @selected_contents.count <= 0 %>
    <%= render 'blank_response' %>
<% else %>
    <%= render 'shared/selected_contents' %>
<% end %>

<div id = "student_response">
    <%#= render 'shared/student_response_form' %>

</div>


<%#= link_to 'Edit', edit_student_path(@student), :remote => true %>
<%#= link_to 'Back', students_path %>
<div id="dialog-wrong" title="Oh my!">
  <p> Sorry! Not quite there. </p>
</div>
<div id="dialog-correct" title="Oh joy!">
  <p> Yippetteee! Happy dance! :)). </p>
</div>
