<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<%= render 'shared/selected_contents' %>

<div id = "student_response">
    <%#= render 'shared/student_response_form' %>

</div>


<%#= link_to 'Edit', edit_student_path(@student), :remote => true %>
<%#= link_to 'Back', students_path %>
