/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "themes/jquery.ui.smoothness";
 @import "jquery.ui.all";
 @import "bootstrap-sprockets";
 @import "bootstrap";

.selected {
    background:gray;
}


.ui-widget-header{
    background: #428bca;
}

.ui-widget-header .ui-state-default{
  background: lighten(#428bca, 23.5%);
  border: 1px solid #428bca;
}

.ui-state-default.ui-state-active{
  background: white;
  border: 1px solid #428bca;
}

.ui-state-hover a:hover {
  color: #fff;
}

// .ui-state-hover,
// .ui-widget-content .ui-state-hover,
// .ui-widget-header .ui-state-hover,
// .ui-state-focus,
// .ui-widget-content .ui-state-focus,
// .ui-widget-header .ui-state-focus {
//   border: 1px solid #999999;
// /*   background: red; */
//   font-weight: normal;
//   color: red;
// }


// .ui-tabs .ui-tabs-nav li


// .ui-state-default,
// .ui-widget-content .ui-state-default,
// .ui-widget-header .ui-state-default {
//   border: 1px solid lightgrey;
//   // background: #e6e6e6 url("/assets/jquery-ui/ui-bg_glass_75_e6e6e6_1x400.png") 50% 50% repeat-x;
//   font-weight: normal;
//   color: #555555;
//   // background: #428bca;
// }


span.student-name{
    font-weight:bold;
}

a.btn-style{
    color: #fff;
}

.fixed {
    position: fixed;
    right:0;
    margin-right: 40px;
}

.navbar-inverse .navbar-nav > li > a {
  color: #fff;
  font-size: 15px;
}


@media (min-width: 768px){
    .bs-example {
        margin-right: 0;
        margin-left: 0;
        background-color: #fff;
        border-color: #ddd;
        border-width: 1px;
        border-radius: 4px 4px 0 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}
.bs-example {
    position: relative;
    /*padding: 45px 15px 15px;*/
    /*margin: 0 -15px 15px;*/
    border-color: #e5e5e5 #eee #eee;
    border-style: solid;
    border-width: 1px 0;
    -webkit-box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
    box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
}



// #grid{
//             width: 100%;
//             position: relative;
//             font-size: 25px;
//             font-family: 'Helvetica';
//             color: #eaeaea;
//         }
//         .box {
//             background-color: #c23822;
//             box-shadow: 0px 0px 1px #222;
//             float: left;
//             position: relative;
//         }
//         #fillers{
//             display: none;
//         }
//         .fillerBox {
//             background-color: #751e11;
//             box-shadow: 0px 0px 1px #222;
//             float: left;
//             position: relative;
//         }


.masonry-container{
    margin: 0 auto;
}

.masonry-item{

    margin:5px;
    padding:5px;
    font-size: 11px;
    line-height: 1.4em;
    float: left;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px #444;
    width: 200px;

    img{
        display: block;
        width: 100%;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }
    .caption{
        text-align: center;
    }
}


#infscr-loading{
    bottom: 0;
    width:80%;
    text-align: center;
    position:fixed;
    padding-bottom: 50px;
}


