
/* universal */

html {
  overflow-y: scroll;
}

body {
  padding: 60px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center div small{
    padding-top: -50px;
    margin-bottom: 50px;
}
.center h1 {
  margin-bottom: 10px;
  line-height: 150%;
}

.dropdown-menu{
    min-width: 100px;
}

#whitecolored{
    background-color: #ffffff;
}

#greycolored{
    background-color: #F8F8F8 ;
}

#redcolored{
    background-color: #FF0000 ;
}

#yelcolored{
    background-color: #FFFF33; //#FFFF99;
}

#greencolored{
    background-color: #66FF66; //#66FF99;
    // text-align:center;
}

.extended{
    display: block;
    width:100%;
}

b.caret-right {
  // border-right: 2px solid black;
  border-top: 4px solid transparent;
}

p.line, p.line2{
    width: 100%;
    padding: 4px;
}

p.line{
    border-top: 1px solid black;
    margin-top: 50px;
}

p.line_edit{
    width: 60%;
    border-top: 1px solid black;
    margin: 0 auto;
    margin-top: 50px;
    padding: 4px;
    text-align:center;
}

p.line2{
    margin-top: -5px;
}

p.line-show{
    width:97%;
}

p.colored{
    text-align:center;
    margin: 0px;
}

table#movies_delete, table#kanban{

    border-collapse: separate;
    border-spacing: 1px;
    width: 100%;
    table-layout: fixed;


    th:first-child{
        text-align: left;
        a{
            color: #ffffff;
        }
    }
    td:first-child{
        text-align: left;
    }

    th{
        font-weight: bold;
        background-color: #4c4c4c;
        font-size: 11pt;
        color: #ffffff;

    }
    td{
        background-color: #F8F8F8;
    }

    th, td{
        padding: 6px;
        text-align: center;
    }

    tr:hover td {
        background-color:rgba(255,255,255,0.1);
    }

}


table#kanban.for-plus {
    th:last-child{
        width:3%;
        white-space: nowrap;
        background-color: transparent;
    }
    th:first-child{
        width: 35%;
        white-space: nowrap;
    }
}


table#kanban_edit{
    border-collapse: separate;
    border-spacing: 1px;
    width: 60%;
    margin: 0 auto;

    th, td{
        padding: 1px;
    }
}

/* Customize container-index */
@media (min-width: 768px) {
  .container-index {
    max-width: 730px;
    // background-color: red;
  }
}

// // override error fields
@media (min-width: 768px){
    .has-error .form-control, .field_with_errors .form-control{
        border-color: #FF0000;
    }
}

/* Customize container */

.container{
    h1,h2,h3{
        text-align: center;
        padding-bottom: 60px;
    }
  }

// tooltips:

.tooltip.right {
    .tooltip-inner {
        background-color: #428bca;
    }
    .tooltip-arrow {
        border-right-color: #428bca;
    }
}

.tooltip.bottom {
    .tooltip-arrow {
        border-bottom-color: #428bca;
    }
    .tooltip-inner {
        font-weight: bold;
        background-color: #428bca;
    }
}

div.labelled{
     border-top: 4px solid transparent;
}

/* forms .uneditable-input*/
// input, textarea, select {
//     border: 1px solid #bbb;
//     width: 100%;
//     margin-bottom: 5px;
//     margin-top: 5px;
// }

/* mixins, variables, etc */

@mixin box_sizing{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

textarea, .textfield {
    border: 1px solid #bbb;
    width: 100%;
    margin-bottom: 15px;  // used to be 5px
    // margin-top: 5px;
    @include box_sizing;
}

#tabs-errors{
    width:50%;
    margin: 0 auto;
}

.errors{
    color: #f00;
}

input {
    // height: auto !important;
}

textarea{
    // resize: vertical;
    // height: 100%;
    }

// .field_with_errors {
//   @extend .form-group;
//   // @extend .error;
//   @extend .has-error;
//   @extend .control-label;
// }


/* header */

#logo{
    float: left;
    margin-right: 10px;
    font-size: 15px;
    // font-size: 1.1em;
    color: #fff;
    // text-transform: uppercase;
    // letter-spacing: -1px;
    padding-top: 18px;
    // font-weight: bold;
    line-height: 1;

    &:hover{
        color: red;
        text-decoration: none;
    }
}

#span-style{
    text-decoration: underline;
}

.carousel-control.right{
    width: 5%;
}

.carousel-control.left{
    width: 5%;
}

.carousel-control:hover,
.carousel-control:focus {
  // outline: none;
  // color: #fff;
  // text-decoration: none;
  opacity: 100;
  // filter: alpha(opacity=90);
}

.chevron {
    // width:30%;
    position:absolute;
    top:40%;
}
.carousel-inner {
    // background-color:#343432;
}
.chevron-left {
    left:5%;
}
.chevron-right {
    right:5%;
}

.carousel-control{
    // opacity: 0
}

// .carousel-control.right {
//   left: auto;
//   right: 0;
//   // background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%);
//   // background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
//   // background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.0001)), to(rgba(0, 0, 0, 0.5)));
//   // background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%);
//   // background-repeat: repeat-x;
//   // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
// }

// .item{
//     height: 400px;
// }
// .carousel-caption{
//     border: 1px solid green;
//     top: 10%;
//     bottom: 10%;
//     text-align: center;
//     img{
//         margin: 0 auto;
//     }
// }

// .inner-item {
//     text-align: center;
//     border: 1px solid green;
//     height: 100%;

//     img {
//         margin: 0 auto;
//         padding-top: 150px;
//         padding-bottom: 150px;
//     }
// }

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
 z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
    height: 400px;
    background-color:white;
 }

.carousel img {
    position: absolute;
    top:auto;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


#tag_cloud {
    // width: 400px;
    line-height: 1.8em;
    .s { font-size: 1.0em; color: #21759b; background-color: #fff;}
    .m { font-size: 1.4em; color: mediumblue; background-color: #fff;}
    .l { font-size: 2.0em; color: darkblue; background-color: #fff;}
}


.tags_in_place{
    // position:fixed;
    // margin-right: 20px;
    // margin-left: -10px;
    // padding: 0px 0px 10px 10px;
}
/* footer */

footer{
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid grey;
    color: grey;

    a{
        color: #555;
        &:hover{
            color: #222;
        }
    }

    small{
        float:left;
        font-size: 100%;
    }

    ul{
        float: right;
        list-style: none;

        li{
            float:left;
            margin-left: 10px;
        }
    }
}


#student_response{
    width: 25%;
    margin: 0 auto;
}

.jumbotron2 {
  // margin-bottom: -140px;
  margin-top: -80px;
  height: 370px;
  // text-shadow: black 0.3em 0.3em 0.3em;
  background:transparent;
}

.bg {
    // background: url('http://www.vishnudoerga.com/wp-content/uploads/2014/02/speech.jpg') no-repeat center center;
    // background: url('http://medicalcareerexploration.com/Images/speechart.png') no-repeat center center;
    // background: url('http://worditout.com/word-cloud/478461/private/9f8b19abc272786f3a3c7a984ca2254f') no-repeat center center;
    position: fixed;
    background: url('/assets/word_cloud5.png') no-repeat center center;
    width: 100%;
    height: 370px;
    top:0;
    left:0;
    z-index: -1;
}

/* alert dialogs */
.dialog-wrong.ui-widget{
    background: red;
    text-align: center;
}
.dialog-wrong.ui-dialog .ui-dialog-content{
    padding: 5em 1em;
}

.dialog-correct.ui-widget{
    background: lightgreen;
    text-align: center;
}
.dialog-correct.ui-dialog .ui-dialog-content{
    padding: 5em 1em;
}


/* to customize the list of images*/
#table-list-images td{
    vertical-align: middle;
}

