html {
    min-height:100%;
    position: relative;
}

body {
    margin-bottom: 60px;
    height:100%;
    overflow-x: hidden;
}

body > .container {
    padding: 60px 15px 80px;
}

.message{
    font-weight: bold;
    color:orange;
    border: 1px solid;
    text-align: center;
}

/* Customize container */
.container {
    h1,h2,h3{
        text-align: center;
        padding-bottom: 60px;
    }
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
    a{
        color: #555;
        &:hover{
            color: #222;
        }
    }
    small{
        float:left;
        font-size: 100%;
        padding-top: 10px;
    }

    ul{
        float: right;
        list-style: none;

        li{
            float:left;
            margin-left: 10px;
            padding-top: 10px;
        }
    }
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.wrapper{
    color:#428bca;
    font-weight: bold;
}

.other-color{
    background: red;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center div small{
    padding-top: -50px;
    margin-bottom: 50px;
}

.center h1 {
  margin-bottom: 10px;
  line-height: 150%;
}

.center p{
    padding-bottom: 15px;
    a{
        font-weight: bold;
        color: mediumblue;
    }
}

.dropdown-menu{
    min-width: 100px;
}

.extended{
    display: block;
    width:100%;
}

b.caret-right {
  border-top: 4px solid transparent;
}

/* Customize container-index */
@media (min-width: 768px) {
  .container-index {
    max-width: 730px;
  }
}

// // override error fields
@media (min-width: 768px){
    .has-error .form-control, .field_with_errors .form-control{
        border-color: #FF0000;
    }
}

div.labelled{
     border-top: 4px solid transparent;
}

/* mixins, variables, etc */
@mixin box_sizing{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

textarea, .textfield {
    border: 1px solid #bbb;
    width: 100%;
    margin-bottom: 15px;  // used to be 5px
    // margin-top: 5px;
    @include box_sizing;
}

#tabs-errors{
    width:50%;
    margin: 0 auto;
}

.errors{
    color: #f00;
}

#span-style{
    text-decoration: underline;
}

#student-tabs{
    min-height: 400px;
}

.carousel-control.right{
    width: 0%;
}

.carousel-control.left{
    width: 0%;
}

// /* Declare heights because of positioning of img element */
.carousel .item {
    height: 300px;
}

.carousel img {
    position: absolute;
    top:auto;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#tag_cloud {
    line-height: 2.1em;
    .s { font-size: 1.0em; color: #21759b; background-color: #fff;}
    .m { font-size: 1.4em; color: mediumblue; background-color: #fff;}
    .l { font-size: 2.0em; color: darkblue; background-color: #fff;}
}

#student_response{
    width: 25%;
    margin: 0 auto;
}

.sign-in-form{
    margin-top: 135px;
    text-align: center;
}
/* alert dialogs */
.dialog-wrong.ui-widget{
    background: red;
    text-align: center;
}
.dialog-wrong.ui-dialog .ui-dialog-content{
    padding: 5em 1em;
}

.dialog-correct.ui-widget{
    background: lightgreen;
    text-align: center;
}
.dialog-correct.ui-dialog .ui-dialog-content{
    padding: 5em 1em;
}

/* to customize the list of images*/
#table-list-images td{
    vertical-align: middle;
}

/* main page buttons are spread slightly apart */
#sign_up_button{
    margin-left:10px;
    margin-right:10px;
}

#student-report {
    th, td{
        padding-top:10px;
    }
}

#responses_chart{
    width: 560px;
    height: 300px;
    display: none;
    margin-bottom:100px;
}

