
/* universal */

html {
  min-height:100%;
  position: relative;
}

body {
  // padding-top: 60px;
  /* Margin bottom by footer height */
    margin-bottom: 60px;
    height:100%;
    overflow-x: hidden;
}
body > .container {
    padding: 60px 15px 80px;
}

/* Customize container */

.container {
    h1,h2,h3{
        text-align: center;
        padding-bottom: 60px;
    }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;

      a{
        color: #555;

        &:hover{
            color: #222;
        }
    }
        small{
        float:left;
        font-size: 100%;
        padding-top: 10px;
    }

    ul{
        float: right;
        list-style: none;

        li{
            float:left;
            margin-left: 10px;
            padding-top: 10px;
        }
    }
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.wrapper{
    // text-color:blue;
    color:#428bca;
    font-weight: bold;
}
.other-color{
    background: red;
}

// footer{
//     margin-top: 45px;
//     margin-left: 65px;
//     margin-right: 65px;
//     padding-top: 5px;
//     border-top: 1px solid grey;
//     height: 60px;

//     a{
//         color: #555;
//         &:hover{
//             color: #222;
//         }
//     }

//     small{
//         float:left;
//         font-size: 100%;
//     }

//     ul{
//         float: right;
//         list-style: none;

//         li{
//             float:left;
//             margin-left: 10px;
//         }
//     }
// }


section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center div small{
    padding-top: -50px;
    margin-bottom: 50px;
}
.center h1 {
  margin-bottom: 10px;
  line-height: 150%;
}

.center p{
    padding-bottom: 15px;
    a{
        font-weight: bold;
        color: mediumblue;
        // text-decoration: none;
    }

}

.dropdown-menu{
    min-width: 100px;
}

.extended{
    display: block;
    width:100%;
}

b.caret-right {
  border-top: 4px solid transparent;
}

// beginning of knabna stuff?
// #whitecolored{
//     background-color: #ffffff;
// }

// #greycolored{
//     background-color: #F8F8F8 ;
// }

// #redcolored{
//     background-color: #FF0000 ;
// }

// #yelcolored{
//     background-color: #FFFF33; //#FFFF99;
// }

// #greencolored{
//     background-color: #66FF66; //#66FF99;
// }

// p.line, p.line2{
//     width: 100%;
//     padding: 4px;
// }

// p.line{
//     border-top: 1px solid black;
//     margin-top: 50px;
// }

// p.line_edit{
//     width: 60%;
//     border-top: 1px solid black;
//     margin: 0 auto;
//     margin-top: 50px;
//     padding: 4px;
//     text-align:center;
// }

// p.line2{
//     margin-top: -5px;
// }

// p.line-show{
//     width:97%;
// }

// p.colored{
//     text-align:center;
//     margin: 0px;
// }

// end of kanban stuff

// table#movies_delete, table#kanban{

//     border-collapse: separate;
//     border-spacing: 1px;
//     width: 100%;
//     table-layout: fixed;


//     th:first-child{
//         text-align: left;
//         a{
//             color: #ffffff;
//         }
//     }
//     td:first-child{
//         text-align: left;
//     }

//     th{
//         font-weight: bold;
//         background-color: #4c4c4c;
//         font-size: 11pt;
//         color: #ffffff;

//     }
//     td{
//         background-color: #F8F8F8;
//     }

//     th, td{
//         padding: 6px;
//         text-align: center;
//     }

//     tr:hover td {
//         background-color:rgba(255,255,255,0.1);
//     }

// }


// table#kanban.for-plus {
//     th:last-child{
//         width:3%;
//         white-space: nowrap;
//         background-color: transparent;
//     }
//     th:first-child{
//         width: 35%;
//         white-space: nowrap;
//     }
// }


// table#kanban_edit{
//     border-collapse: separate;
//     border-spacing: 1px;
//     width: 60%;
//     margin: 0 auto;

//     th, td{
//         padding: 1px;
//     }
// }

/* Customize container-index */
@media (min-width: 768px) {
  .container-index {
    max-width: 730px;
    // background-color: red;
  }
}

// // override error fields
@media (min-width: 768px){
    .has-error .form-control, .field_with_errors .form-control{
        border-color: #FF0000;
    }
}


// tooltips: kanbans

// .tooltip.right {
//     .tooltip-inner {
//         background-color: #428bca;
//     }
//     .tooltip-arrow {
//         border-right-color: #428bca;
//     }
// }

// .tooltip.bottom {
//     .tooltip-arrow {
//         border-bottom-color: #428bca;
//     }
//     .tooltip-inner {
//         font-weight: bold;
//         background-color: #428bca;
//     }
// }

div.labelled{
     border-top: 4px solid transparent;
}

/* mixins, variables, etc */

@mixin box_sizing{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

textarea, .textfield {
    border: 1px solid #bbb;
    width: 100%;
    margin-bottom: 15px;  // used to be 5px
    // margin-top: 5px;
    @include box_sizing;
}

#tabs-errors{
    width:50%;
    margin: 0 auto;
}

.errors{
    color: #f00;
}


/* header */

// took it out; now using a basic bootstrap header
// #logo{
//     float: left;
//     margin-right: 10px;
//     font-size: 15px;
//     color: #fff;
//     padding-top: 18px;
//     line-height: 1;

//     &:hover{
//         color: red;
//         text-decoration: none;
//     }
// }

#span-style{
    text-decoration: underline;
}

#student-tabs{
    min-height: 400px;
}

.carousel-control.right{
    width: 0%;
}

.carousel-control.left{
    width: 0%;
}

// /* Declare heights because of positioning of img element */
.carousel .item {
    height: 300px;
}

.carousel img {
    position: absolute;
    top:auto;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#tag_cloud {
    line-height: 1.8em;
    .s { font-size: 1.0em; color: #21759b; background-color: #fff;}
    .m { font-size: 1.4em; color: mediumblue; background-color: #fff;}
    .l { font-size: 2.0em; color: darkblue; background-color: #fff;}
}

#student_response{
    width: 25%;
    margin: 0 auto;
}

.jumbotron2 {
  margin-top: -80px;
  height: 370px;
  background:transparent;
}

.bg {
    // background: url('http://www.vishnudoerga.com/wp-content/uploads/2014/02/speech.jpg') no-repeat center center;
    // background: url('http://medicalcareerexploration.com/Images/speechart.png') no-repeat center center;
    // background: url('http://worditout.com/word-cloud/478461/private/9f8b19abc272786f3a3c7a984ca2254f') no-repeat center center;

    position: fixed;
    background: url('/assets/word_cloud5.png') no-repeat center center;
    width: 100%;
    height: 370px;
    top:0;
    left:0;
    z-index: -1;
}

.logo-image {
    background: url('/assets/speech1.jpg') no-repeat center center;
    height: 400px;
}
.logo-cheechart{
    background: url('/assets/speechart1.png') no-repeat center center;
    height: 400px;
}
.sign-in-form{
    margin-top: 135px;
    text-align: center;
}
/* alert dialogs */
.dialog-wrong.ui-widget{
    background: red;
    text-align: center;
}
.dialog-wrong.ui-dialog .ui-dialog-content{
    padding: 5em 1em;
}

.dialog-correct.ui-widget{
    background: lightgreen;
    text-align: center;
}
.dialog-correct.ui-dialog .ui-dialog-content{
    padding: 5em 1em;
}


/* to customize the list of images*/
#table-list-images td{
    vertical-align: middle;
}

/* main page buttons are spread slightly apart */
#sign_up_button{
    margin-left:10px;
    margin-right:10px;
}

#student-report {
    th, td{
        padding-top:10px;
    }
}


