<div class="footer">
    <div class="container">
        <small>
            <%= link_to "About", about_path %>
        </small>
        <nav>
            <ul>
                <li><%= link_to "Contact", contact_path %></li>
                <li><%= link_to "Help", help_path %></li>
            </ul>
        </nav>
    </div>
</div>
